version: '3.9'

services:
  db:
    image: postgres:16
    container_name: taskapp-postgres
    environment:
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
      POSTGRES_DB: taskdb
    ports:
      - "5432:5432"
    volumes:
      - taskapp-pgdata:/var/lib/postgresql/data

volumes:
  taskapp-pgdata:
